@charset "utf-8";
/* CSS Document */
#mainpageHeader, #addTransactionPagemainpageHeader, #listTransactionmainpageHeader, #listDebtsmainpageHeader, #trendsmainpageHeader{
	color:#FFF;
	background-color:#3C3	;
	font-weight:bold;
	font-size:1.2em;
}

#mainContent, #addTransactionPagemainContent, #listTransactionmainContent, #listDebtsmainContent, #trendsmainContent{
	text-align:center;
}

#mainView, #addTransactionPagemainView, #listTransactionmainView, #listDebtsmainView, #trendsmainView{
	width:100%;	
	height:100%;
}

#addTransactionIcon,  #listTransactionIcon, #listDebtsIcon, #trendsIcon{
	float:left;
	margin-left:5%;
	margin-right: 5%;
	margin-bottom: 40px;
	width:40%;
	height: 200px;
}