@charset "UTF-8";
/* CSS Document */
.login_form {
	width:640px;
	height:1136px;
	background-image: url(first_screen_form.png)
}

.login_form .button_login {
	width:80%;
	height:40px;
	position:fixed;
}